/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul{
  
    margin-left: -5px;
}

#navbar ul li a{
    font-size: 0.7rem;
    padding: 0px 4px;
    padding-bottom: 8px;
}


/* Home section */
#home{
    height: 455px; 
    padding: 3px 28px;
}

#home::before{
    height: 500px; 
    left: 0px;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}
#home h1{
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0px;
}
#home p{
    font-size: 13px;
    text-align: center;
    margin-left: 0px;
    display: block;
}

/* bio section  */
#bio{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#bio .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
    height: 700px;
    width: 283px;
}

#bio .box img{ 
   height: 155px;
   margin: auto;
   display: block;
   padding: 10px;
}

#bio .box h2{
    font-size: 25px;
}

#bio .box p{
    font-family: 'Bree Serif', serif;
    padding: 10px;
    font-size: 15px;
} 


/* Home 2 section */
#home-2{
    height: 270px; 
    padding: 3px 28px;
}

#home-2::before{
    height: 300px; 
    left: 0px;
    background-size: cover; 
    background-position: center center;
     background-repeat: no-repeat;
}

#home-2 p{
    font-size: 13px;
}

#bio .box h2{
    font-size: 40px;
}

/* Home 3 section */
#home-3{
    height: 270px; 
    padding: 3px 28px;
}

#home-3::before{
    height: 300px; 
    width: 500px;
    left: -140px;
    background-size: cover; 
    background-position: center center;
     background-repeat: no-repeat;
}

#home-3 h1{
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0px;
}

#home-3 p{
    font-size: 13px;
}

/* .home-articles {
    padding: 18px;
    background-color: rgb(248, 239, 239, 0.5);
    margin-top: 23px;
    position: relative;
    display: flex;
  } */
  
  .year-box {
    position: absolute;  
    right: 0px;
    top: 100px;
    width: 234px;
    height: 255px;
    font-size: 12px;
  }
  
  .year-box div {
    margin: 12px 0px;
  }
  
  .home-article {
    display: flex;
    margin: 25px;
  }
  
  .home-article img {
    width: 200px;
    align-items: center;
    justify-content: center;
    left: 0px;
  }
  
  .home-article-content {

    align-self: center;
    padding: 25px;
    text-align: center;
  }
  
  .home-article-content a {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
  }

  .home-article-content div,span{
      font-size: 14px;
  }

  .home-articles h2{
      text-align: center;
  }


/* Home 4 section */
#home-4{
    height: 465px; 
    padding: 3px 28px;
}

#home-4::before{
    height: 500px; 
    left: 0px;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
}
#home-4 h1{
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0px;
}
#home-4 p{
    font-size: 13px;
    text-align: center;
    margin-left: 0px;
    display: block;
}

/* Media  */

main{
    margin-left: 20px;
      width: 95%;
      margin-top: 40px;
      height: 375px;
}


/* Home 5 section */
#home-5{
    height: 270px; 
    padding: 3px 28px;
}

#home-5::before{
    left: 0px;
    height: 300px; 
    background-size: cover; 
    background-position: center center;
     background-repeat: no-repeat;
}

#home-5 h1{
    font-size: 1.5rem;
    text-align: center;
    margin-left: 0px;
}

#home-5 p{
    font-size: 13px;
}

#found{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#found .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
    height: 290px;
    width: 290px;
}


#found .box img{ 
    height: 175px;
    margin: auto;
    display: block;
    padding: 20px;
 }

 #found .box h3{
    font-size: 15px;
}

#found .box p{
    font-family: 'Bree Serif', serif;
    padding: 20px;
    font-size: 10px;



